<p id="notice"><%= notice %></p>

<h1>Lista de Alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nac</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido %></td>
        <td><%= alumno.nac %></td>
        <td><%= link_to 'mostrar', alumno %></td>
        <td><%= link_to 'Editar', edit_alumno_path(alumno) %></td>
        <td><%= link_to 'Eliminar', alumno, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Alumno', new_alumno_path %>
